*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.outer{
  border-radius: 15px;
  border: 2px solid black;
  padding: 30px;
  margin: 30px;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.side{
  flex: 20%;
  padding: 0px;
}
.dotted-nav{
  margin-top: 100px;
  border-top: 2px dashed black;
}
.content{
  flex: 80%;
  background-color: rgb(243, 243, 243);
  /* padding: 20px; */
  border-radius: 15px;
  border: 2px solid black;
}
#logo{
  width: 150px;
  padding-top: 20px;
}
.contentOne{
  flex: 60%;
  /* background-color: purple; */
  padding: 0 20px;
  border-radius: 15px;
}
.contentTwo{
  flex: 40%;
  padding: 20px;
  border-radius: 15px;
}
.titleSettings{
  display: flex;
  flex-direction: row;
  margin: 20px;
}
h1{
  font-size: 60px;
  font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
}
h2{
  font-family: "Damion", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}
.navMain{
  display: flex;
  flex-direction: column;
}
.subNavMain{
  display: flex;
}
.socialIconRow{
  display: flex;
  align-items: baseline;
}
.navText{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  display:inline-block;
  margin:10px;
}
/* .dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(142, 142, 142);
  display:inline-block;
  margin:10px;
} */
.navTextBottom{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-left: 40px;
  line-height: 2px;
}
.socialIcon{
  width: 15px;
  margin-left: 10px;
}
.regText{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
#themeButton{
  margin: 50px;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 10px;
}
.dotted{
  border-top: 2px dashed black;
  margin: 20px;
}
.greetingDate{
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.date{
  margin-left: 30px;
}
.toDoList{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  margin: 20px;
}
.weather{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  line-height: 10px;
  text-align: center;
  margin: 20px;
}
#weatherText{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.weatherText{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.goals{
  background-color: white;
  padding: 10px;
  padding-bottom: 108px;
  border-radius: 5px;
  border: 2px solid black;
  line-height: 10px;
  margin-top: 10px;
  margin: 20px;
}
@media (min-width: 1800px) {
  .goals {
    padding-bottom: 150px;
  }
}

.heartStarCircleSection{
  padding: 5px;
  text-align: center;
  margin: 20px;
}
.heartStarCircle{
  padding: 10px;
  width: 80px;
}
.aboutImageRight{
  padding: 10px;
  line-height: 10px;
  text-align: center;
}
.rowAbout{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.rowAboutTwo{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(234, 234, 234);
  border-radius: 5px;
  margin:  0 20px;
  margin-bottom: 50px;
}
.about{
  flex: 50%;
  padding: 0 20px;
  line-height: 20px;
}
.aboutImg{
  padding: 20px;
  width: auto;
  height: 250px;
}
@media (max-width: 400px) {
  .aboutImg{
    padding: 20px;
    width: auto;
    height: 150px;
  }
}
.aboutImgTwo{
  padding: 20px;
  width: auto;
  height: 250px;
  border-radius: 50%;
}
.headingOne{
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
}
.headingTwo{
  margin-top: 40px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
}
.generalButton{
  background-color: white;
  padding: 10px;
  border: none;
}
.contact{
    flex: 50%;
    padding: 0 20px;
}
.contactLeft{
  display: flex;
  flex-wrap: wrap;
}
.contactRight{
  padding: 0 20px;
  flex: 50%;
}
.headingContact{
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 550;
  font-style: normal;
}
.contactText{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
}
input{
  padding: 10px;
  width: 250px;
  border: solid 1px black;
}
.submitButton{
  background-color: rgb(234, 234, 234);
  padding: 10px;
  border: solid 1px black;
  margin: 20px 0;
}
form input { 
  margin-bottom: 10px; 
}
form #message {
  width:300px;
  height:150px;
}
@media (min-width: 1073px) {
  .fa-bars {
    display: none !important;;
  }
}
@media (min-width: 550px) {
  nav > .fa-bars {
    display: none;
  }
}
@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .row{
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .row{
    width: 100%;
  }
}
@media (max-width: 550px) {
  .content{
    width: 100%;
  }
}
@media (max-width: 550px) {
  .content > .row{
    width: 100%;
  }
}
@media (max-width: 550px) {
  .contentOne, .contentTwo{
    width: 100%;
  }
}
@media (max-width: 550px) {
  #themeButton{
    display: none;
  }
}
@media (max-width: 500px) {
  .heartStarCircleSection{
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .heartStarCircle{
    width: 40px;
  }
}
@media (max-width: 550px) {
  .headingOne{
    line-height: 30px;
  }
}
@media (max-width: 550px) {
  img.aboutImgOne{
    margin: 0px;
    width: 100%;
    padding: 0px;
  }
}
@media (max-width: 550px) {
  img.aboutTwoImg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
@media (max-width: 550px) {
  .rowAboutTwo{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    padding: 20px 0px;
  }
}
@media (max-width: 550px) {
  input{
    padding: 10px;
    width: 100%;
    border: solid 1px black;
  }
}
@media (max-width: 550px) {
  .contactText{
    width: 50%;
    word-wrap: break-word;
    line-height: 30px;;
  }
}

.mainTitle{
  font-size: 3.5em;
  padding: 0;
}
li{
  list-style: none;
}
.calendar-container {
  width: 95%;
  height: calc(85vh - 85px);
  margin-left: auto;
  margin-right: auto;
}

/* To Do List: */
.toDoHeader{
  margin-left: 30px;
}
.toDoRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding-left: 20px;
  margin: 25px;
  background-color: rgb(243, 243, 243);
}
#input-box{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
.toDoButton{
  border: none;
  outline: none;
  padding: 20px 25px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
.toDoButton:hover{
  background-color: rgb(196, 196, 196);
}
#list-container li {
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
#list-container li::before{
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(assets/img/unchecked.svg);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
#list-container li.checked{
  text-decoration: line-through;
}
#list-container li.checked::before{
  background-image: url(assets/img/checked.svg);
}
#list-container li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
#list-container li span:hover{
  background: #edeef0;
}

/* Goals List */
.goalsRow{
  display: flex;
  border-radius: 30px;
  padding-left: 10px;
  margin: 10px;
  background-color: rgb(243, 243, 243);
}
@media (max-width: 1800px) {
  .goalsRow{
    display: inline-block;
    border-radius: 30px;
    padding-left: 10px;
    margin: 10px; 
  }
}
.goalsButton{
  border: none;
  outline: none;
  padding: 20px 25px;
  margin-left: 105px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
}
.goalsButton:hover{
  background-color: rgb(196, 196, 196);
}
@media (max-width: 1800px) {
  .goalsButton{
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 50%;
    float: right;
  }
}
#input-box-two{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
@media (max-width: 1800px) {
  #input-box-two{
    border: none;
    outline: none;
  }
}
#list-container-two li {
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
#list-container-two li::before{
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(assets/img/unchecked.svg);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
#list-container-two li.checked{
  text-decoration: line-through;
}
#list-container-two li.checked::before{
  background-image: url(assets/img/checked.svg);
}
#list-container-two li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
#list-container-two li span:hover{
  background: #edeef0;
}

/* Delete Button for To-Dos and Goals */
.delete {
  border: none;
  border-radius: 50%;
  background-color: black;
  color: white;
  margin-left: 10px;
}
.delete:hover{
  background-color: rgb(196, 196, 196);
}
.deleteGoalsButton {
  border: none;
  border-radius: 50%;
  background-color: black;
  color: white;
  margin-left: 10px;
}
.deleteGoalsButton:hover{
  background-color: rgb(196, 196, 196);
}

/* Calendar: */
.calendar-container {
  width: 95%;
  height: calc(85vh - 85px);
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}

/* Links: */
a, a:visited, a:hover {
  color: inherit;
}

@media (max-width: 470px) {
 div.contact{
 width: 50%;
  }
}
@media (max-width: 470px) {
  textarea#message{
  width: 100%;
   }
 }

.greetingText{
color: rgb(119, 119, 119);
}